
.container {
    display: flex;
    height: 100vh;
  }
  
  .leftPanel {
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .storeName {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .rightPanel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .loginBox {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
 
  
  .inputGroup {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  .forgotPassword {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #0070f3;
    text-decoration: none;
  }
  
  .forgotPassword:hover {
    text-decoration: underline;
  }
  